<h1>Stats Results</h1>

<h6>Numbers</h6>
<p><%= @numbe %></p>

<h6>Sorted numbers</h6>
<p><%= @sorted_numbers %></p>

<h6>Count</h6>
<p><%= @count %></p>

<h6>Minimum</h6>
<p><%= @minimum %></p>

<h6>Maximum</h6>
<p><%= @maximum %></p>

<h6>Range</h6>
<p><%= @range %></p>

<h6>Median</h6>
<p><%= @median %></p>

<h6>Sum</h6>
<p><%= @sum %></p>

<h6>Mean</h6>
<p><%= @mean %></p>

<h6>Variance</h6>
<p><%= @variance %></p>

<h6>Mode</h6>
<p><%= @mode %></p>

<a href="/descriptive_statistics/new">
  Calculate more stats
</a>